.classname {
    color: rebeccapurple;
}

/*
http://flight-manual.atom.io/hacking-atom/sections/package-word-count/
https://github.com/ealves-pt/atom-vue2-autocomplete/blob/master/lib/provider.js
https://github.com/miraks/autocomplete-css/blob/master/lib/provider.coffee
http://dev.mikamai.com/post/143061935049/atom-how-to-create-an-autocomplete-provider
https://github.com/atom/autocomplete-plus/wiki/Provider-API
https://drafts.csswg.org/css-color/
https://github.com/bahamas10/css-color-names/blob/master/css-color-names.json
https://github.com/nkt/atom-autocomplete-modules/tree/master/src
https://atom.io/docs/api/v1.12.8/CompositeDisposables
http://decaffeinate-project.org/repl
*/
/*
TODO:
understand disposable better
write some tests
stylus without colons?
? maybe reduce autocomplete in: % , solid dashed, linear-gradient, to left top, background keywords..
*/
